* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman';
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #22252D;
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display:flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}

.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    flex: 1 1 0%;
}

.display .brand {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.display .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    flex: 1 1 0%;
}


.display .input {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .operator {
    color: #ff0000;
}


.display .brackets,
.display .percent {
    color: #34fe26;
}


.keys {
    background-color: #363a43;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
    position: relative;
    cursor: pointer;

    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #262933; 
    border-radius: 1rem;
    transition: 0.2s;
    user-select: none;
}

.keys .key.imp {
    position: relative;
    cursor: pointer;

    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #f70909; 
    border-radius: 1rem;
    transition: 0.2s;
    user-select: none;
}


.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.keys .key:hover {
    box-shadow: inset 0px 0px 8px rgba(247, 247, 247, 0.667);
}

.keys .key.operator span {
    color: #ff0000;
}

.keys .key.action span {
    color: #34fe26;
}

.keys .key.action.key.imp span {
    color: #ffffff;
}

